.section {
  height: 50vh;
  padding: 0 14.6667vw 0 20vw;
}
.purple-section {
  background-color: #100540;
}
.title-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}
h1 {
  font-size: 18px;
  width: auto;
  text-align: left;
  color: white;
  font-weight: 500;
  padding-top: calc((50vh - 43px - 42px) / 3);
}
.section-logo {
  padding-top: calc((50vh - 43px - 42px) / 3);
  width: 160px;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.purple-small-title {
  padding-top: 15vh;
  margin-bottom: 25px;
  color: #100540;
}
h5 {
    font-size: calc(9px + (18 - 9) * ((100vw - 375px) / (1920 - 375)));
    font-weight: 600;
}
.section-content {
  font-size: 13px;
  color: #100540;
}
.title-wrapper {
  padding-top: 8.4vh;
  height: 16.8vh;
}
.white-small-title {
  margin-bottom: 7px;
  color: #ffffff;
  display:block;
  width:auto;
}
.line {
  border: solid 0.5px white;
  position: absolute;
  left: 0;
  width: calc(20vw + 130px);
}
.services-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.services-list-items {
  // margin-left:calc((100% - 150px) / 6);
  // margin-right:calc((100% - 150px) / 6);
  // width:calc((100% /3) - ((100% - 150px) /3))
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  //   width: calc((245px / 3) + ((1254.4 / 3) - (245 / 3)) * ((100vw - 375px) / (1920 - 375)));
  //   margin: 0 0 1rem 0;
}
.image-wrapper {
  border: 2px white solid;
  border-radius: calc(
    (35px + (125 - 35) * ((100vw - 375px) / (1920 - 375))) / 2
  );
  display: flex;
  width: calc(35px + (125 - 35) * ((100vw - 375px) / (1920 - 375)));
  height: calc(35px + (125 - 35) * ((100vw - 375px) / (1920 - 375)));
}
.services-vector {
  //   min-width: 25px;
  //   min-height: 25px;
  margin: auto;
  display: flex;
  width: calc(25px + (100 - 25) * ((100vw - 375px) / (1920 - 375)));
  height: calc(25px + (100 - 25) * ((100vw - 375px) / (1920 - 375)));
}

.service-title {
  color: white;
  display: flex;
  // font-size:9px;
  font-size: calc(9px + (16 - 9) * ((100vw - 375px) / (1920 - 375)));
  font-weight: 500;
  text-align: center;
  // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
}
